/** Degradado **/

html {
    /** Codigo para que el padding no sea tomado en cuenta en las medidas globales **/
    box-sizing: border-box;
    /** Reset para REMS - 62.5% = 10px **/
    font-size: 62.5%;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    height: 100%;
    background: #c5deea;
    background: -moz-linear-gradient(top, #c5deea 0%, #8abbd7 31%, #066dab 100%);
    background: -webkit-linear-gradient(top, #c5deea 0%, #8abbd7 31%, #066dab 100%);
    background: linear-gradient(to bottom, #c5deea 0%, #8abbd7 31%, #066dab 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab', GradientType=0);
    background-attachment: fixed;
    /*Fijamos el degradado par ano repetirse*/
}


/** Globales **/

h2 {
    text-align: center;
    text-transform: uppercase;
}


/** Botones **/

.boton {
    cursor: pointer;
    border: none;
    display: block;
    background-color: #c00170;
    padding: 1rem 4rem;
    margin-top: 1rem;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    transition: background-color .3s ease-in-out;
    flex: 0 0 100%;
}

.boton:hover {
    background-color: #550232;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}


/** Utilidades **/

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}


/** Header **/

header {
    text-align: center;
    padding: 4rem;
}


/** Hero **/

.hero {
    margin-bottom: 4rem;
}


/** Productos **/

main ul {
    text-align: center;
    padding: 0;
}

.lista-productos li {
    list-style: none;
    padding: 2rem;
}

@media (min-width: 768px) {
    .lista-productos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }
    .lista-productos li {
        flex: 0 0 calc(33.3% - 1rem);
    }
}

.lista-productos li img {
    border: 10px solid rgba(33, 32, 144, 0.45);
    transition: border-color .3s ease-in-out;
}

.lista-productos li img:hover {
    border: 10px solid rgba(76, 75, 160, 1);
    cursor: pointer;
}

.lista-productos li p {
    font-size: 2.8rem;
    font-weight: bold;
    margin: 1rem 0;
}

.precio {
    font-size: 3.5rem;
    color: #c00170;
}